{% extends 'base.html.twig' %}

{% block body %}

	<nav class="navbar home">
		<a class="logo" href="{{ path('LogInHomePage') }}"><img src="assets/logo.png"></a>
		<a class="main-link" href="{{ path('SummonPage') }}">SUMMON</a>
        <a class="main-link" href="{{ path('CollectionPage') }}">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>{{ user.getSurname() }} {{ user.getFirstname() }}</strong><br>
                Novice | {{ user.getBallotsNumber() }} BV
            </p>
        </div>
	</nav>

	<section class="container">
		<div class="container-collection">
			{% for card in collection %}
				<div class="card" style="background-image: url(assets/img/{{ card.politicid.getImage() }})">
					{% if card.politicid.getRarity() == 1 %}
						<div style="background-image: url(assets/bronze_card.png); display: flex;">
					{% elseif card.politicid.getRarity() == 2 %}
						<div style="background-image: url(assets/silver_card.png); display: flex;">
					{% elseif card.politicid.getRarity() == 3 %}
						<div style="background-image: url(assets/gold_card.png); display: flex;">
					{% else %}
						<div style="background-image: url(assets/bronze_card.png); display: flex;">
					{% endif %}
						<span class="card-name">{{ card.politicid.getName() }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>

	<footer>
		<a href="{{ path('LogOutPage') }}">Log out</a>
	</footer>
{% endblock %}