{% extends 'base.html.twig' %}

{% block body %}

	<nav class="navbar home">
		<a class="logo" href="{{ path('LogInHomePage') }}"><img src="assets/logo.png"></a>
		<a class="main-link" href="{{ path('SummonPage') }}">SUMMON</a>
        <a class="main-link" href="{{ path('CollectionPage') }}">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>{{ user.getSurname() }} {{ user.getFirstname() }}</strong><br>
                {{ user.getRank() }} | {{ user.getBallotsNumber() }} BV
            </p>
        </div>
	</nav>

	<section class="container">
		<div class="container-home">
			<div class="banner"><img src="assets/banner.png" draggable="false"></div>
			<div class="home-buttons">
				<a href="{{ path('SummonPage') }}">SUMMON A NEW POLITICIAN</a>
				<a href="">CLAIM 200BV</a>
			</div>
		</div>
	</section>
	
	<footer>
		<a href="{{ path('LogOutPage') }}">Log out</a>
	</footer>
{% endblock %}